.signinPageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    .cover {
        width: 60vw;
        height: 100%;
        background: lightcoral;
    }

    .form {
        width: 40vw;
        height: 100%;
        //margin: 20px 0;
        //display: flex;
        //justify-content: center;
        background: #FFF;
        .formCard {
            width: 90%;
            margin: 0px auto;
            //padding: 20px 20px 15px;
            //box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
            //border-radius: 10px;
            //background: #FFF;
        }
    }
}